{%include 'admin/header_admin.html' %}

<head>
    <script>
        function deleteImageFromDatabase() {
            var deleteIndex = document.getElementById('delete_index').value;

            // Cek apakah input kosong
            if (!deleteIndex) {
                alert('Harap masukkan nomor gambar yang ingin dihapus.');
                return;
            }

            // Kirim permintaan POST ke server untuk menghapus gambar
            fetch(`/deleteImage/{{ product._id }}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    delete_index: deleteIndex
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Gambar berhasil dihapus.');
                        // Arahkan kembali ke halaman pengeditan produk
                        window.location.href = `/editProduct/{{ product._id }}`;
                    } else {
                        alert('Gagal menghapus gambar: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Terjadi kesalahan saat menghapus gambar.');
                });
        }

        function openModal(imageSrc, imageName) {
            $('#modalImage').attr('src', imageSrc);
            $('#imageModal').modal('show');
        }

        function closeModal() {
            $('#imageModal').modal('hide');
        }


        function previewImages(event) {
            var input = event.target;
            var previewContainer = document.getElementById('preview-container');

            // Clear preview container
            previewContainer.innerHTML = '';

            // Preview selected images
            for (var i = 0; i < input.files.length; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = document.createElement("img");
                    img.id = "imgPreview";
                    img.src = e.target.result;
                    img.className = 'preview-image';
                    previewContainer.appendChild(img);
                }
                reader.readAsDataURL(input.files[i]);
            }
        }
    </script>
</head>

<main id="main" class="main">

    <div class="card border-0 shadow mb-4 ">
        <div class="card-body mt-4">
            <div class="table-responsive">
                <form id="updateForm" method="POST" action="{{ url_for('editProduct', _id=product._id) }}"
                    enctype="multipart/form-data">
                    <!-- Bagian lain dari form -->

                    <p class="fw-bold">Product Image</p>
                    <div
                        style="border: 2px solid black; margin-bottom: 20px; padding: 20px; border-radius: 6px; justify-content: center;">
                        <div class="row mb-3">
                            <div class="d-flex justify-content-center">
                                {% for gambar in product.gambar_produk %}
                                <div class="row justify-content-center text-center" style="padding: 5px;">
                                    <span class="fw-bold">Image {{ loop.index }}</span>
                                    <img src="../static/imgProduct/{{ gambar }}" alt="{{ gambar }}"
                                        style="border: 2px solid green; cursor: pointer; width: 100px;"
                                        data-image="../static/imgProduct/{{ gambar }}" data-gambar="{{ gambar }}"
                                        onclick="openModal('{{ url_for('static', filename='imgProduct/' ~ gambar) }}')">
                                </div>
                                {% endfor %}
                            </div>
                            <div id="preview-container"
                                style="margin-top: 40px; margin-bottom: 10px; width: 200px; display: flex;"></div>
                            <div>
                                <label for="gambar_produk" class="fw-bold" style=" margin-top: 20px;">Add Product Image</label>
                                <input type="file" class="form-control" accept=".png,.jpg,.jpeg" id="gambar_produk"
                                    name="gambar_produk" style="border-radius: 13px;" placeholder="Enter the Image"
                                    multiple onchange="previewImages(event)" />
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="delete_index" class="form-label fw-bold">Product Image Number to be Deleted
                                <span style="color: brown; margin-left: 10px; font-weight: bold;">(*delete one image)</span>
                            </label>
                            <input type="number" class="form-control" id="delete_index" name="delete_index" min="1"
                                placeholder="Enter image number" />
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-danger" onclick="deleteImageFromDatabase()">Delete Image</button>
                        </div>
                    </div>

                    <!-- Modal Start -->
                    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close rounded border-0" data-dismiss="modal"
                                        aria-label="Close" onclick="closeModal()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img id="modalImage" src="" alt="Sample Image" class="img-fluid"
                                        style="border: 3px solid black;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal End -->

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label fw-bold">Name Product</label>
                        <input type="text" class="form-control" name="nama_produk" style="border-radius: 13px;"
                            placeholder="Enter the Products Name" required value="{{ product.nama_produk }}" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Description</label>
                        <textarea class="form-control" name="deskripsi_produk" style="border-radius: 13px;"
                            placeholder="Enter the Description of Product"
                            required>{{ product.deskripsi_produk }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Brand</label>
                        <textarea class="form-control" name="merk_produk" style="border-radius: 13px;"
                            placeholder="Enter the Brand of Product" required>{{ product.merk_produk }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="kategori_produk" class="mb-2 fw-bold">Category :</label>
                        <div>
                            <select id="kategori_produk" name="kategori_produk" class="form-select-sm text-center"
                                style="font-size: medium; border: 2px solid rgb(218, 218, 218); width: 180px; border-radius: 13px;">
                                <option value="" hidden>Select Category</option>
                                <option value="Light" {% if product.kategori_produk=='Light' %} selected {% endif %}>
                                    Light</option>
                                <option value="Electronic" {% if product.kategori_produk=='Electronic' %} selected {%
                                    endif %}>
                                    Electronic</option>
                                <option value="Other" {% if product.kategori_produk=='Other' %} selected {% endif %}>
                                    Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Price</label>
                        <input type="number" class="form-control" name="harga_produk" style="border-radius: 13px;"
                            placeholder="Enter the Price" required value="{{ product.harga_produk }}" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Stock</label>
                        <input type="number" class="form-control" name="stok_produk" style="border-radius: 13px;"
                            placeholder="Enter the Price" required value="{{ product.stok_produk }}" />
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" style="margin-left: 90%;">Update</button>
                    </div>
                </form>
</main><!-- End #main -->