<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Umbrella Projects</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />
    <link href="../static/assets/img/logo.png" rel="icon" type="image/x-icon" />

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Javascript CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- CSS File -->
    <link href="../static/css/admin.css" rel="stylesheet" />

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Ambil semua elemen nav-link di dalam sidebar
        const navLinks = document.querySelectorAll('#sidebar-nav .nav-link');

        // Loop melalui setiap elemen nav-link
        navLinks.forEach(function (navLink) {
          // Periksa apakah href dari elemen nav-link cocok dengan URL saat ini
          if (navLink.getAttribute('href') === window.location.pathname) {
            // Tambahkan kelas 'active' ke elemen nav-link yang cocok
            navLink.classList.add('active');
          }
        });
      });
      function previewPhoto(event) {
        const reader = new FileReader();
        reader.onload = function () {
            const output = document.getElementById('photoPreview');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
    
    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        const showButton = document.getElementById('show-sidebar');
        const content = document.getElementById('main');
        
        sidebar.classList.toggle('hidden');
        showButton.classList.toggle('hidden');
        content.classList.toggle('fullscreen');

        const card = document.querySelector('.card');
        if (content.classList.contains('fullscreen')) {
            card.style.width = '100%';
        } else {
            card.style.width = ''; 
        }

        const mainElement = document.getElementById('main');
        const footerElement = document.getElementById('footer');

        if (sidebar.classList.contains('hidden')) {
            mainElement.style.marginLeft = '0';
            footerElement.style.marginLeft = '0';
        } else {
            mainElement.style.marginLeft = '300px';
            footerElement.style.marginLeft = '300px';
        }
    }
    </script>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light custom-navbar " style="background-color: #0587AA";>
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand nama" href="#">
                        Umbrella Projects
                    </a>
                    <span id="show-sidebar" class="navbar-toggler-icon" onclick="toggleSidebar()" ></span>
                    
                </div>
                <div class="collapse navbar-collapse" >
                    <div class="ms-auto d-flex align-items-center">
                        <span class="navbar-text me-2 d-flex align-items-center namaAdmin">Admin</span>
                        <img id="photoPreview" src="../../static/profile_pics/andi.png" alt="Profile Picture" class="profile-picture rounded-circle d-none d-lg-flex" width="40" height="40" onclick="document.getElementById('input-pic').click();" style="cursor: pointer;">
                        <input type="file" id="input-pic" name="file_give" accept="image/*" style="display:none;" onchange="previewPhoto(event)">
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <aside id="sidebar" class="sidebar">
        </button>
        <ul class="sidebar-nav" id="sidebar-nav">
            <div class="logo">
                <img src="../../static/img/Logo-hitam.png" alt="Logo" width="80" height="80">
            </div>  
            <li class="nav-item">
                <a class="nav-link" href="/dashboardAdmin">
                    <img src="../../static/img/home-icon.png" alt="Products Icon" width="20" height="20">
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/productsAdmin">
                    <img src="../../static/img/product-icon.png" alt="Products Icon" width="20" height="20">
                    <span>Products</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/usersAdmin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people-fill " viewBox="0 0 20 20">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                        </svg>
                    <span>Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout/admin">
                    <img src="../../static/img/logout-icon.png" alt="Products Icon" width="20" height="20">
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </aside>
    <div class="content">
    </div>
  </body>
</html>
