<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<style>
    /* Sticky Header */
    .sticky-header {
        position: sticky;
        top: 0;
        background: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .sticky-header nav ul {
        display: flex;
        list-style: none;
    }

    .sticky-header nav ul li {
        position: relative;
    }

    .sticky-header nav ul li .dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .sticky-header nav ul li:hover .dropdown {
        display: block;
    }
</style>
<!-- Header -->
<nav class="sticky-header navbar navbar-expand-lg bg-body">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="../static/img/Logo.png" alt="Bootstrap" width="70" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item mx-3">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" aria-current="page" href="/products">Products</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" aria-current="page" href="/about">About Us</a>
                </li>
            </ul>
            <div class="ms-auto">
                <form class="d-flex" role="search" action="/search" method="get">
                    <input class="form-control me-2" name="query" type="text" placeholder="What are you looking for?"
                        aria-label="Search" style="border-color: var(--warna-utama)" />
                    <button class="btn btn-default" style="background-color: var(--warna-utama)" type="submit"><i
                            class="bi bi-search"></i></button>
                </form>
            </div>
            <!-- Profile -->
            <div class="navbar-item profile">
                <a class="navbar-brand" href="#">
                    {% if is_logged_in %}
                    <div class="user-text">{{ user_info['profile_name'] }}</div>
                    <img src="../static/{{ user_info.profile_pic_real }}" alt="Avatar Logo"
                        style="width: 40px; height:40px; border: 1px solid var(--warna-utama)" class="rounded-pill"
                        onclick="redirectToUpdatePage()" />
                    <div class="vertical-line"></div>
                    {% else %}
                    <div class="user-text">Guest</div>
                    <img src="../static/img/profile_default.png" alt="Avatar Logo"
                        style="width: 40px; border: 1px solid var(--warna-utama)" class="rounded-pill"
                        onclick="showAlertNotLoggedIn('You need to login to view your profile')" />
                    <div class="vertical-line"></div>
                    {% endif %}
                </a>
            </div>
            <!-- End Profile -->
            <div class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        {% if is_logged_in %}
                        <a class="dropdown-item" href="/update_profile"><i class="bi bi-person"></i> Profile</a>
                        {% else %}
                        <a class="dropdown-item" href="#" onclick="showAlertNotLoggedIn('You need to login to view your profile')"><i class="bi bi-person"></i> Profile</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if is_logged_in %}
                        <a class="dropdown-item" href="/cart"><i class="bi bi-bag"></i> Cart</a>
                        {% else %}
                        <a class="dropdown-item" href="#" onclick="showAlertNotLoggedIn('You need to login to view your cart')"><i class="bi bi-bag"></i> Cart</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if is_logged_in %}
                        <a class="dropdown-item" href="/history"><i class="bi bi-clock-history"></i> History</a>
                        {% else %}
                        <a class="dropdown-item" href="#" onclick="showAlertNotLoggedIn('You need to login to view your history')"><i class="bi bi-clock-history"></i> History</a>
                        {% endif %}
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    {% if is_logged_in %}
                    <li>
                        <a class="dropdown-item" href="#" onclick="confirmLogout(event)"><i class="bi bi-box-arrow-right"></i> Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="dropdown-item" href="/login"><i class="bi bi-box-arrow-right"></i> Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>


<script>
    function showAlertNotLoggedIn(message) {
        Swal.fire({
            title: 'Not Logged In',
            text: message,
            icon: 'warning',
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Login'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/login";
            }
        });
    }
    
    function redirectToUpdatePage() {
        window.location.href = "/update_profile";
    }
    
    function confirmLogout(event) {
        event.preventDefault();
        Swal.fire({
            title: 'Logout Confirmation',
            text: "Are you sure you want to logout?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, logout!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: 'Logged Out',
                    text: "You've successfully logged out. See you next time!",
                    icon: 'success'
                }).then(() => {
                    window.location.href = "/logout";
                });
            }
        });
    }
    

</script>
<!-- End Header -->